.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #1e2f38;
}

.list {
  display: flex;
  gap: 1rem;
  font-size: larger;
}



.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
